.Card{
    display: inline-block;
    padding: 15px;
    border-radius: 5px;
    position: relative;
    font-family: Times, Times New Roman, serif;
    padding-bottom: 120px;
}
.BTN{
    background: #f00;
    border-radius: 5px;
    padding: 5px 8px;
    color: #fff;
    position: absolute;
    left: 100%;
    top: 0;
    cursor: pointer;

}
.BTN:hover {
  background: #d00;
  box-shadow: 0px 0px 30px 5px rgba(255, 0, 0, 0.6);
}
.IMG{
    border-radius: 5px;
    position: relative;
    transition: 0.3s;
    border-radius: 50%;

}
.IMG:hover {
  border-radius: 10%;
  box-shadow: 0px 0px 55px 10px #fff;
}
.Name{
    color: #fff;
    background: rgba(39, 15, 125, 0.6);
    font-size: 20px;
    width: 50%;
    position: absolute;
    bottom: 35%;
    left: 26%;
    border: solid 1px;

}
.Name:hover {
  color: #af0;
}
.Raza{
    position: absolute;
    width: 45%;
    font-size: 1.7em;
    color: #fff;

}
.Raza:hover {
  color: #fb0;
}
.Genero{
    color: #fff;
    position: absolute;
    right: 10%;
    width: 25%;
    font-size: 1.7em;

}
.Genero:hover {
  color: #fb0;
}